{% load static %}
<html>

<head>
    <title>Django Girls blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    <div class="page-header">
        <h1><a href="/">在庫管理システム</a></h1>
        {% if user.is_authenticated %}
            <a href="/" class="top-menu">ホーム</a>
            <a href="/" class="top-menu">在庫</a>
            <a href="/" class="top-menu">価格</a>
            <a href="/" class="top-menu">設定</a>
            <p class="user_neme"> {{ user.username }} <small>(<a href="{% url 'logout' %}">ログアウト</a>)</small></p>
        {% else %}
            <a href="{% url 'login' %}" class="user_neme"><span class="glyphicon glyphicon-lock">login</span></a>
        {% endif %}
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>