{% extends 'blog/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <div>
            <h3>{{ Prices }}</h3>
            <table class="hometable">
                <thead>
                    <tr>
                        <th>名前</th>
                        <th>店名</th>
                        <th>価格</th>
                        <th>最小</th>
                        <th>単価</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Price in Prices %}
                    <tr>
                        <td>{{ Price.iName }}</td>
                        <td>{{ Price.shop.sName }}</td>
                        <td>{{ Price.price}}</td>
                        <td>{{ Price.price__price__min}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
    <h1>ログインしてください</h1>
    <h2><a href="{% url 'login' %}">ログイン</a></h2>
    {% endif %}
{% endblock %}
